assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
desafio-estagio.code-workspace
protected/data/schema.mysql.sql
protected/data/schema.sqlite.sql
